<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthbot</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="header">
      <h1>Health Chatbot</h1>
      <img alt="bot" width="250px" src="https://cdn3.iconfinder.com/data/icons/healthcare-37/64/bot-512.png"/>
    </div>

    <div id="chatbox">

      <div id="chat"></div>
      
      <div class="prompt">
        <input type="text" id="inputField" placeholder="Type your message here">
        <button id="submitButton" onclick="sendMessage()" >Send</button>
      </div>

    </div>

    <script src="scipts.js">
    </script>
	<!-- <div id="credits">
      <p>Credits:</p>
      <ul style="list-style: none; padding: 0;">
        <li>Shikhar Bajpai</li>
        <li>Shivam Gupta</li>
        <li>Shivam Patel</li>
        <li>Anshu Gangwar</li>
      </ul>
    </div> -->  
  </body>
</html>
